*{
    font-family: '微软雅黑' !important;
}

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
.row{
    margin: 0;
}
.nav-header{
    font-size: 16px;
    padding: 20px 0 5px 20px;
}
.nav>li>a{
    padding: 5px 20px;
}
.navbar-nav>li>a{
    line-height: 40px;
}




/* CSS Document */

body {
padding-top: 60px;
padding-bottom: 40px;
}
.sidebar-nav {
padding: 9px 0;
}

@media (max-width: 980px) {
/* Enable use of floated navbar text */
.navbar-text.pull-right {
  float: none;
  padding-left: 5px;
  padding-right: 5px;
}
}

.hide{
	display: none;
}

.k-window {
	-webkit-transform:scale(1.00) !important;
}
.pic_test_box img {
	display: inline-block;
	width: 100px;
	margin: 10px;

}

.k-input {
	padding: 0;

}
.k-dropdown{
	border: none !important;
}

.k-numeric-wrap .k-dropdown{
	margin: -3px 0 0 -146px;
	width: 120%;
}

.k-edit-field{
	line-height:2.2em !important;
}


.w-800-content{
	width: 800px !important;
}
.w-800-l{
	width: 11% !important;
}
.w-800-r{
	width: 83% !important;
}
.w-50-inp {
	width: 50% !important;
}
.w-60-inp {
	width: 60% !important;
}
.w-70-inp {
	width: 70% !important;
}

.w-80-inp {
	width: 80% !important;
}
.w-90-inp {
	width: 90% !important;
}
.thumb{
	max-width: 300px;
	max-height: 200px;
}
.k-upload-status{
	top:0 !important;
}
.k-textbox .k-icon{
	top: 5px;
	left: 5px;
}
.k-textbox .k-i-clock{
	left:27px;
}

.nav-list>.active>a, .nav-list>.active>a:hover, .nav-list>.active>a:focus {
background-color: #609700;
}

a {
color: #2e7e02;
text-decoration: none;
}

.navbar-inverse .navbar-inner {
background-color: #444;
background-image: -moz-linear-gradient(top,#444,#444);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#444),to(#444));
background-image: -webkit-linear-gradient(top,#444,#444);
background-image: -o-linear-gradient(top,#444,#444);
background-image: linear-gradient(to bottom,#444,#444);
background-repeat: repeat-x;
border-color: #252525;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444',endColorstr='#ff444444',GradientType=0);
}
.navbar-inverse .nav .active>a, .navbar-inverse .nav .active>a:hover, .navbar-inverse .nav .active>a:focus{
	background-color: #444;
}
.k-dropzone{
	padding: 0;
}
.k-textbox .k-icon{
	margin: 0;
}
.warning_bg {
	color:#c00;
	font-weight: bolder !important;

}

.app_sel_boc{
	padding: 20px 0
}
.sync_button{
	margin: 0 20px;
}
.thumbDivBox{
	padding-bottom: 5px;
}


.k-addfolder{
	display: none !important;
}

.k-imagebrowser .k-toolbar-wrap button{
	display: none;
}
.k-imagebrowser  .k-breadcrumbs, .k-imagebrowser  .k-search-wrap{
display: none;
}
.k-tile{
	width: 215px !important;
}
.k-imagebrowser .k-tiles-arrange{
	display: none;
}
.k-multiselect-wrap .k-delete{
}


.k-multiselect-wrap li{
	padding: .1em 1.15em .1em .4em;
	position: relative;
}
.redt{
	color: #cc0000;
}
.clear{zoom:1;}
.clear:after{clear:both;content:'';display:block;}
.fl_margin{
	margin-right: 40px;
	margin-top: 10px;
}
.fl {
	float: left;
}
.k-widget.k-tooltip-validation{
	text-indent: 1.3em;
}
#voteCount,#resultVoteCount{
	margin-right: 100px;
}
#countStatus,#resultVoteMemberCount{
	margin: 10px 0 20px;
}
.color777{
		color: #777;
}
.ft14{
	font-size: 14px;
	line-height: 20px;
}
.brand_img{
	height: 25px;
	display: block;
}
#resultStatus{
	padding:10px 0 20px 0;
}